.product-thumb {
  max-width: 100%;
}

.orange {
    color: orange;
}

.green {
    color: lightgreen;
}

.gray {
    color: lightgray;
}

a.no-dec {
  text-decoration: none;
}

.black {
  color:black;
  font-weight: bold;
}

span.top-margin {
  margin-top:0px;
}

.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

span.tag {
  line-height:28px;
  user-select: none;
}
